a:30:{i:0;s:3:"add";i:1;s:10:"addContent";i:2;s:19:"addFromUploadedFile";i:3;s:13:"anonymousRank";i:4;s:7:"approve";i:5;s:5:"clone";i:6;s:5:"count";i:7;s:6:"delete";i:8;s:6:"export";i:9;s:11:"exportToCsv";i:10;s:4:"flag";i:11;s:3:"get";i:12;s:8:"getByIds";i:13;s:14:"getContextData";i:14;s:18:"getPlaybackContext";i:15;s:14:"getRemotePaths";i:16;s:5:"index";i:17;s:4:"list";i:18;s:17:"listByReferenceId";i:19;s:9:"listFlags";i:20;s:7:"recycle";i:21;s:6:"reject";i:22;s:15:"restoreRecycled";i:23;s:16:"servePlaybackKey";i:24;s:6:"update";i:25;s:13:"updateContent";i:26;s:30:"updateThumbnailFromSourceEntry";i:27;s:22:"updateThumbnailFromUrl";i:28;s:19:"updateThumbnailJpeg";i:29;s:6:"upload";}