a:15:{i:0;s:12:"configLoaded";i:1;s:10:"getCommand";i:2;s:13:"getFullStatus";i:3;s:20:"getOrCreateScheduler";i:4;s:4:"kill";i:5;s:12:"listCommands";i:6;s:14:"listSchedulers";i:7;s:11:"listWorkers";i:8;s:12:"reportStatus";i:9;s:16:"setCommandResult";i:10;s:18:"setSchedulerConfig";i:11;s:15:"setWorkerConfig";i:12;s:11:"startWorker";i:13;s:13:"stopScheduler";i:14;s:10:"stopWorker";}