a:19:{i:0;s:19:"addBulkUploadResult";i:1;s:12:"addMediaInfo";i:2;s:16:"checkEntryIsDone";i:3;s:15:"checkFileExists";i:4;s:18:"cleanExclusiveJobs";i:5;s:22:"countBulkUploadEntries";i:6;s:16:"freeExclusiveJob";i:7;s:23:"getBulkUploadLastResult";i:8;s:22:"getExclusiveAlmostDone";i:9;s:16:"getExclusiveJobs";i:10;s:28:"getExclusiveNotificationJobs";i:11;s:12:"getQueueSize";i:12;s:13:"logConversion";i:13;s:25:"resetJobExecutionAttempts";i:14;s:11:"suspendJobs";i:15;s:23:"updateBulkUploadResults";i:16;s:35:"updateExclusiveConvertCollectionJob";i:17;s:18:"updateExclusiveJob";i:18;s:22:"updatePartnerLoadTable";}