a:20:{i:0;s:19:"addBulkUploadResult";i:1;s:12:"addMediaInfo";i:2;s:16:"checkEntryIsDone";i:3;s:15:"checkFileExists";i:4;s:18:"cleanExclusiveJobs";i:5;s:22:"countBulkUploadEntries";i:6;s:20:"extendLockExpiration";i:7;s:16:"freeExclusiveJob";i:8;s:23:"getBulkUploadLastResult";i:9;s:22:"getExclusiveAlmostDone";i:10;s:16:"getExclusiveJobs";i:11;s:28:"getExclusiveNotificationJobs";i:12;s:12:"getQueueSize";i:13;s:13:"logConversion";i:14;s:25:"resetJobExecutionAttempts";i:15;s:11:"suspendJobs";i:16;s:23:"updateBulkUploadResults";i:17;s:35:"updateExclusiveConvertCollectionJob";i:18;s:18:"updateExclusiveJob";i:19;s:22:"updatePartnerLoadTable";}