a:12:{i:0;s:3:"add";i:1;s:10:"setContent";i:2;s:6:"update";i:3;s:14:"serveByEntryId";i:4;s:6:"getUrl";i:5;s:14:"getRemotePaths";i:6;s:5:"serve";i:7;s:11:"serveWebVTT";i:8;s:12:"setAsDefault";i:9;s:3:"get";i:10;s:4:"list";i:11;s:6:"delete";}