a:10:{i:0;s:3:"add";i:1;s:17:"addFromBulkUpload";i:2;s:5:"clone";i:3;s:6:"delete";i:4;s:3:"get";i:5;s:5:"index";i:6;s:4:"list";i:7;s:4:"move";i:8;s:16:"unlockCategories";i:9;s:6:"update";}