a:15:{i:0;s:19:"addFromUploadedFile";i:1;s:12:"addFromEntry";i:2;s:18:"addFromFlavorAsset";i:3;s:7:"convert";i:4;s:3:"get";i:5;s:6:"update";i:6;s:6:"delete";i:7;s:4:"list";i:8;s:6:"upload";i:9;s:15:"convertPptToSwf";i:10;s:5:"serve";i:11;s:21:"serveByFlavorParamsId";i:12;s:13:"updateContent";i:13;s:14:"approveReplace";i:14;s:13:"cancelReplace";}