a:12:{i:0;s:3:"add";i:1;s:15:"appendRecording";i:2;s:19:"createRecordedEntry";i:3;s:6:"delete";i:4;s:3:"get";i:5;s:6:"isLive";i:6;s:4:"list";i:7;s:19:"registerMediaServer";i:8;s:18:"setRecordedContent";i:9;s:21:"unregisterMediaServer";i:10;s:6:"update";i:11;s:30:"validateRegisteredMediaServers";}