a:21:{i:0;s:3:"add";i:1;s:37:"addLiveStreamPushPublishConfiguration";i:2;s:15:"appendRecording";i:3;s:7:"archive";i:4;s:12:"authenticate";i:5;s:24:"createPeriodicSyncPoints";i:6;s:19:"createRecordedEntry";i:7;s:6:"delete";i:8;s:3:"get";i:9;s:10:"getDetails";i:10;s:6:"isLive";i:11;s:4:"list";i:12;s:21:"regenerateStreamToken";i:13;s:19:"registerMediaServer";i:14;s:40:"removeLiveStreamPushPublishConfiguration";i:15;s:18:"setRecordedContent";i:16;s:21:"unregisterMediaServer";i:17;s:6:"update";i:18;s:29:"updateOfflineThumbnailFromUrl";i:19;s:26:"updateOfflineThumbnailJpeg";i:20;s:30:"validateRegisteredMediaServers";}