a:24:{i:0;s:3:"add";i:1;s:37:"addLiveStreamPushPublishConfiguration";i:2;s:22:"allocateConferenceRoom";i:3;s:15:"appendRecording";i:4;s:7:"archive";i:5;s:12:"authenticate";i:6;s:24:"createPeriodicSyncPoints";i:7;s:19:"createRecordedEntry";i:8;s:6:"delete";i:9;s:10:"finishConf";i:10;s:3:"get";i:11;s:10:"getDetails";i:12;s:6:"isLive";i:13;s:4:"list";i:14;s:21:"regenerateStreamToken";i:15;s:12:"registerConf";i:16;s:19:"registerMediaServer";i:17;s:40:"removeLiveStreamPushPublishConfiguration";i:18;s:18:"setRecordedContent";i:19;s:21:"unregisterMediaServer";i:20;s:6:"update";i:21;s:29:"updateOfflineThumbnailFromUrl";i:22;s:26:"updateOfflineThumbnailJpeg";i:23;s:30:"validateRegisteredMediaServers";}