a:19:{i:0;s:3:"add";i:1;s:37:"addLiveStreamPushPublishConfiguration";i:2;s:15:"appendRecording";i:3;s:12:"authenticate";i:4;s:24:"createPeriodicSyncPoints";i:5;s:19:"createRecordedEntry";i:6;s:6:"delete";i:7;s:3:"get";i:8;s:6:"isLive";i:9;s:4:"list";i:10;s:21:"regenerateStreamToken";i:11;s:19:"registerMediaServer";i:12;s:40:"removeLiveStreamPushPublishConfiguration";i:13;s:18:"setRecordedContent";i:14;s:21:"unregisterMediaServer";i:15;s:6:"update";i:16;s:29:"updateOfflineThumbnailFromUrl";i:17;s:26:"updateOfflineThumbnailJpeg";i:18;s:30:"validateRegisteredMediaServers";}