a:32:{i:0;s:3:"add";i:1;s:10:"addContent";i:2;s:11:"addFromBulk";i:3;s:12:"addFromEntry";i:4;s:18:"addFromFlavorAsset";i:5;s:21:"addFromRecordedWebcam";i:6;s:19:"addFromSearchResult";i:7;s:19:"addFromUploadedFile";i:8;s:10:"addFromUrl";i:9;s:13:"anonymousRank";i:10;s:7:"approve";i:11;s:14:"approveReplace";i:12;s:13:"bulkUploadAdd";i:13;s:13:"cancelReplace";i:14;s:7:"convert";i:15;s:5:"count";i:16;s:6:"delete";i:17;s:4:"flag";i:18;s:3:"get";i:19;s:7:"getMrss";i:20;s:12:"getVolumeMap";i:21;s:4:"list";i:22;s:9:"listFlags";i:23;s:6:"reject";i:24;s:17:"requestConversion";i:25;s:6:"update";i:26;s:13:"updateContent";i:27;s:15:"updateThumbnail";i:28;s:30:"updateThumbnailFromSourceEntry";i:29;s:22:"updateThumbnailFromUrl";i:30;s:19:"updateThumbnailJpeg";i:31;s:6:"upload";}