a:30:{i:0;s:3:"add";i:1;s:10:"addContent";i:2;s:10:"addFromUrl";i:3;s:19:"addFromSearchResult";i:4;s:19:"addFromUploadedFile";i:5;s:21:"addFromRecordedWebcam";i:6;s:12:"addFromEntry";i:7;s:18:"addFromFlavorAsset";i:8;s:7:"convert";i:9;s:3:"get";i:10;s:7:"getMrss";i:11;s:6:"update";i:12;s:13:"updateContent";i:13;s:6:"delete";i:14;s:14:"approveReplace";i:15;s:13:"cancelReplace";i:16;s:4:"list";i:17;s:5:"count";i:18;s:6:"upload";i:19;s:15:"updateThumbnail";i:20;s:30:"updateThumbnailFromSourceEntry";i:21;s:19:"updateThumbnailJpeg";i:22;s:22:"updateThumbnailFromUrl";i:23;s:17:"requestConversion";i:24;s:4:"flag";i:25;s:6:"reject";i:26;s:7:"approve";i:27;s:9:"listFlags";i:28;s:13:"anonymousRank";i:29;s:13:"bulkUploadAdd";}