a:13:{i:0;s:3:"add";i:1;s:11:"addFromFile";i:2;s:6:"delete";i:3;s:3:"get";i:4;s:4:"list";i:5;s:10:"listFields";i:6;s:6:"revert";i:7;s:5:"serve";i:8;s:9:"serveView";i:9;s:6:"update";i:10;s:24:"updateDefinitionFromFile";i:11;s:28:"updateTransformationFromFile";i:12;s:19:"updateViewsFromFile";}