a:12:{i:0;s:5:"abort";i:1;s:3:"add";i:2;s:7:"approve";i:3;s:11:"exportToCsv";i:4;s:15:"extendAccessKey";i:5;s:3:"get";i:6;s:7:"getJobs";i:7;s:4:"list";i:8;s:6:"reject";i:9;s:8:"serveCsv";i:10;s:6:"update";i:11;s:9:"updateJob";}