a:14:{i:0;s:3:"get";i:1;s:15:"getAdminSession";i:2;s:16:"getConfiguration";i:3;s:11:"getPackages";i:4;s:25:"getPackagesClassOfService";i:5;s:19:"getPackagesVertical";i:6;s:22:"getPlayerDeliveryTypes";i:7;s:23:"getPlayerEmbedCodeTypes";i:8;s:8:"getUsage";i:9;s:4:"list";i:10;s:17:"listUserLoginData";i:11;s:17:"resetUserPassword";i:12;s:19:"updateConfiguration";i:13;s:12:"updateStatus";}