a:8:{i:0;s:3:"add";i:1;s:6:"update";i:2;s:3:"get";i:3;s:6:"delete";i:4;s:5:"clone";i:5;s:13:"listTemplates";i:6;s:4:"list";i:7;s:17:"getAvailableTypes";}