a:22:{i:0;s:3:"add";i:1;s:17:"addFromBulkUpload";i:2;s:20:"checkLoginDataExists";i:3;s:6:"delete";i:4;s:12:"disableLogin";i:5;s:11:"enableLogin";i:6;s:11:"exportToCsv";i:7;s:14:"generateQrCode";i:8;s:3:"get";i:9;s:12:"getByLoginId";i:10;s:5:"index";i:11;s:4:"list";i:12;s:5:"login";i:13;s:9:"loginByKs";i:14;s:14:"loginByLoginId";i:15;s:9:"notifyBan";i:16;s:13:"resetPassword";i:17;s:8:"serveCsv";i:18;s:18:"setInitialPassword";i:19;s:6:"update";i:20;s:15:"updateLoginData";i:21;s:15:"validateHashKey";}