a:17:{i:0;s:3:"add";i:1;s:6:"update";i:2;s:3:"get";i:3;s:12:"getByLoginId";i:4;s:6:"delete";i:5;s:4:"list";i:6;s:9:"notifyBan";i:7;s:5:"login";i:8;s:14:"loginByLoginId";i:9;s:15:"updateLoginData";i:10;s:13:"resetPassword";i:11;s:18:"setInitialPassword";i:12;s:11:"enableLogin";i:13;s:12:"disableLogin";i:14;s:5:"index";i:15;s:17:"addFromBulkUpload";i:16;s:20:"checkLoginDataExists";}