a:25:{i:0;s:3:"add";i:1;s:17:"addFromBulkUpload";i:2;s:20:"checkLoginDataExists";i:3;s:6:"delete";i:4;s:11:"demoteAdmin";i:5;s:12:"disableLogin";i:6;s:11:"enableLogin";i:7;s:11:"exportToCsv";i:8;s:14:"generateQrCode";i:9;s:3:"get";i:10;s:12:"getByLoginId";i:11;s:5:"index";i:12;s:4:"list";i:13;s:5:"login";i:14;s:9:"loginByKs";i:15;s:14:"loginByLoginId";i:16;s:22:"loginDataResetPassword";i:17;s:9:"notifyBan";i:18;s:20:"replaceUserLoginData";i:19;s:13:"resetPassword";i:20;s:8:"serveCsv";i:21;s:18:"setInitialPassword";i:22;s:6:"update";i:23;s:15:"updateLoginData";i:24;s:15:"validateHashKey";}