a:9:{i:0;s:3:"add";i:1;s:3:"get";i:2;s:6:"update";i:3;s:6:"delete";i:4;s:4:"list";i:5;s:5:"index";i:6;s:4:"move";i:7;s:16:"unlockCategories";i:8;s:17:"addFromBulkUpload";}